# Node
node_modules/

# Electron
dist-pc/
dist-pc2/

# Android builds
android/.gradle/
android/build/
android/app/build/

# IDE
.idea/
.vscode/

# Logs
*.log

# Temporários
*.tmp

# Instaladores/builds
*.apk
*.aab