# Node
node_modules/
npm-debug.log*

# IDE
.idea/
*.iml

# Android Studio / Gradle
.gradle/
android/.gradle/
android/.idea/
android/local.properties

# Builds
build/
android/build/
android/app/build/
*.apk
*.aab

# Chaves / certificados
*.jks
*.keystore

# Temporarios
*.log
.DS_Store
Thumbs.db
